.header-section {
  width: 85%;
  margin: 10px auto;
  border: #ddd 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

.learn-more-btn {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 1.25rem;
}

.carousel-inner{
  border-radius: 10px;
}

@media (max-width: 768px) {
  .header-section {
    width: 100%;
  }
}
